<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/styles.css') }}">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <nav>
        <div class="logo-container">
            <img src="{{ url_for('static',filename='assets/MirrorStyle_logo.png') }}" alt="MirrorStyle Logo">
            <a href="/">MirrorStyle</a>
        </div>
        <ul>
            <li style="float: right;"><a href="/auth/login">Login</a></li>
        </ul>
    </nav>
    
    <div class="container2">
        <h1>Register</h1>
        <form method="post" enctype="multipart/form-data">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required><br>
        
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required><br>
        
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required><br>
        
            <label for="image">Profile Image (max 2MB):</label>
            <input type="file" name="image" id="image" accept="image/*"><br>

            <label for="gender">Select Gender:</label>
            <select name="gender" id="gender">
                <option value="">All</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
            
            <div class="centered">
                <input type="submit" value="Register">
                <br/><br/>
                <a href="/auth/login" class="login-link">Already have an account? Login</a>
            </div>
        </form>
        
    </div>
    <script src="{{ url_for('static',filename='js/register.js') }}"></script>
</body>
</html>
