# Exclude version control files
.git
.gitignore

# Exclude Python bytecode files
__pycache__
*.pyc

# Exclude local development files and directories
venv
.virtualenv
# .env
# *.env

# Exclude temporary files
# *.log
*.tmp
*.swp

# Exclude any other files or directories specific to your project
static/generated/*.jpg
static/generated/*.jpeg
static/generated/*.png

static/uploaded/*.jpg
static/uploaded/*.jpeg
static/uploaded/*.png


extra-folder
