venv

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

extra-folder

.env
.DS_Store

migrations

*.jpg
*.jpeg
# *.png
!app/static/clothes/*.jpg
!app/static/clothes/*.jpeg

*.log