<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Store</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <nav>
        <div class="logo-container">
            <img src="{{ url_for('static',filename='assets/MirrorStyle_logo.png') }}" alt="MirrorStyle Logo">
            <a href="/">MirrorStyle</a>
        </div>
        <ul>
            <li style="float: right;"><a href="auth/login">Login</a></li>
            <li style="float: right;"><a href="auth/register-postman">Signup</a></li>
        </ul>
    </nav>
    
    <div class="container" id="productContainer">
        
    </div>
    <script src="{{ url_for('static',filename='js/index.js') }}"></script>
</body>
</html>
