nav {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 40px; /* Adjust height as needed */
    margin-right: 10px;
}

.logo-container span {
    font-size: 24px; /* Adjust font size as needed */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 10px; /* Adjust spacing between menu items */
}

nav ul li a {
    text-decoration: none;
    color: #000000; /* Adjust link color */
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #f0f0f0; /* Adjust hover background color */
}


.logo-container img {
    height: 100px; /* Adjust height as needed */
    margin-right: 10px;
}

.logo-container a {
    text-decoration: none;
    font-size: 40px; /* Adjust font size as needed */
    font-weight: bold; /* Optionally, make the text bold */
    color: #333; /* Adjust color as needed */
    padding-left: 20px;
}
.centered {
    text-align: center;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    margin: 20px auto;
    padding: 0 20px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}
.product {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33.33% - 40px);
    text-align: center;
    margin: 10px;
}
.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.product h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.product p {
    font-size: 1rem;
    color: #888;
}
.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #555;
}

.container2 {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
form {
    margin-top: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}