name: Build and Push Flask App Image to Google Cloud Platform
on:
  push:
    branches: [main]
jobs:
  build-push-gcr:
    name: Build and Push to GCP
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: virtual-tryon
      PROJECT_ID: virtual-try-on-420019

    # Add "id-token" with the intended permissions.
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: 'projects/334629917966/locations/global/workloadIdentityPools/github-actions-cloud-run/providers/virtual-try-on'
        service_account: 'github-actions-sa@virtual-try-on-420019.iam.gserviceaccount.com'

    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v2'
  
    - name: 'Use gcloud CLI'
      run: 'gcloud info'
  
    - name: Build Docker Image
      run: docker build -t $IMAGE_NAME:latest ./vto

    - name: Configure Docker Client
      run: |-
        gcloud auth configure-docker --quiet

    - name: Push Docker Image to Container Registry (GCR)
      env:
        GIT_TAG: v0.1.0
      run: |-
        docker tag $IMAGE_NAME:latest gcr.io/$PROJECT_ID/$IMAGE_NAME:latest
        docker tag $IMAGE_NAME:latest gcr.io/$PROJECT_ID/$IMAGE_NAME:$GIT_TAG
        docker push gcr.io/$PROJECT_ID/$IMAGE_NAME:latest
        docker push gcr.io/$PROJECT_ID/$IMAGE_NAME:$GIT_TAG